dn: cn=admin,cn=license,cn=univention,{{ basedn }}
cn: admin
objectClass: top
objectClass: univentionLicense
objectClass: univentionObject
univentionLicenseBaseDN: UCS Core Edition
univentionLicenseCorporateClients: unlimited
univentionLicenseEndDate: unlimited
univentionLicenseKeyID: 
univentionLicenseManagedClients: unlimited
univentionLicenseModule: admin
univentionLicensePremiumSupport: 0
univentionLicenseServers: unlimited
univentionLicenseSignature:
univentionLicenseSupport: 0
univentionLicenseType: UCS
univentionLicenseUsers: unlimited
univentionLicenseVersion: 2
univentionLicenseVirtualDesktopClients: 0
univentionLicenseVirtualDesktopUsers: 0
univentionObjectType: settings/license
